@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": #4c4c4c,
    "secondary": #82cbe3,
  )
);

@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/styles/github.css";
@import "./_dracula-highlightjs.css";

h2 {
  font-weight: $font-weight-bold;
  margin-top: ($spacer * 3) !important;
}

p {
  color: #666666;
}

.result {
  max-height: 10rem;
  overflow: auto;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  margin: ($spacer * 1) 0;
  padding: ($spacer * 1);
  background-color: #d8ffcb;
  &.error {
    background-color: #ffcbcb;
  }
}

pre {
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  .hljs {
    background-color: #1e293b;
  }
}
